* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

.topLine {
  width: 1110px;
}

nav {
  height: 80px;
  background: #0F0F0F;
}

.header__screen {
  height: 810px;
  background: #191B1C;
}